<div class="container-fluid" id="ir-main-container">
	<!--Inicio lig in modal-->			
	<section id="ir-login">			
		<div class="inner-container">	
			<h1 class="text-center bold">BIENVENIDO</h1>					
			<button class="btn btn-defalut btn-fb">						
				<span class="fa fa-facebook-official"></span>
				<span class="bold">Log in <span class="hidden-xs">with Facebook</span></span>
			</button>
			<h2 class="text-center bold">ó</h2>
			<form class="input-group">
				<input type="text" class="form-control borderless" placeholder="Enter email">
				<input type="text" class="form-control borderless" placeholder="Enter password">
				<button type="submit" class="form-control borderless"><div class="inner-element bold">Log in</div><%=image_tag('registro_log_in-03.png')%></button>
			</form>
			<footer class="text-center">
				<a href="#">Olvidaste la contraseña</a>
				<span>|</span>
				<span class="ir-info-gray">No estas registrado?</span>
				<span>|</span>
				<a href="#">Registrate</a>							
			</footer>
		</div>
	</section><!--Inicio log in modal-->

	<!--Inicio registro modal-->
	<section id="ir-registro">	
		<br><br>	
		<div class="inner-container">	
			<h1 class="text-center bold">REGISTRATE GRATIS</h1>					
			<button class="btn btn-defalut btn-fb">						
				<span class="fa fa-facebook-official"></span>
				<span class="bold">Connect <span class="hidden-xs">with Facebook</span></span>
			</button>
			<h2 class="text-center bold">ó</h2>
			<form class="input-group">
				<input type="text" class="form-control borderless" placeholder="Enter email">
				<button type="submit" class="form-control borderless"><div class="inner-element bold">Ir al registro</div><%=image_tag('registro_log_in-03.png')%></button>
			</form>
			<footer class="text-center">
				<span class="ir-info-gray">Ya eres miembro?</span>
				<span>|</span>
				<a href="#">Log in</a>						
			</footer>
		</div>				
	</section>
	<!--./Fin registro modal-->
</div><!--./Fin container-fluid-->
