<div id="overlay-body"></div>
<nav class="navbar navbar-default" id="hd-nav-defaul-1">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" onclick="openNav()">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
	    </div>
		<ul class="nav navbar-nav navbar-right">
	        <li class="hd-img-after"><a href="#">Register</a></li>
	        <li><a href="#">Log in</a></li>
  		</ul>
  		<div class="clearfix"></div>
  		<div class="row hd-logo-out">
  			<div class="col-sm-4 col-xs-6 col-sm-offset-4 col-xs-offset-3">
  				<a href="#">
			    	<%=image_tag('logo_vital_shop-01.png', class: 'img img-responsive' ,alt: 'Logo')%>
			  	</a>
  			</div>
		</div>
	</div>
</nav>

<div id="mySidenav" class="sidenav">
  	<a href="javascript:void(0)" class="closeBtnSide" onclick="closeNav()">&times;</a>
  	<a href="#">Register</a>
  	<a href="#">Log in</a>
  	<a href="#" class="first-h2">Nutricíon deportiva</a>
  	<a href="#">Quemadores</a>
  	<a href="#">Bienestar y salud</a>
  	<a href="#">Blog</a>
  	<a href="#">Outlet</a>
  	<a href="#">¿Cómo comprar?</a>
  	<a href="#">Mercado saludable</a>
</div>