<!--Inicio Header secundario-->
<div class="col-xs-12" id="hd-nav-2">
	<form class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group hd-search">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
    </form>
    <ul class="list-inline col-md-9 hd-info-2">
	  	<li class="active"><a href="#">Nutricíon deportiva</a></li>
	  	<li><a href="#">Quemadores</a></li>
	  	<li><a href="#">Bienestar y salud</a></li>
	  	<li><a href="#">Blog</a></li>
	  	<li><a href="#">Outlet</a></li>
	  	<li><a href="#">¿Cómo comprar?</a></li>
	  	<li><a href="#">Mercado saludable</a></li>
	</ul>
</div>
<!--./FinHeader secundario-->